.wrap {
  width: 1630px;
  margin: 0 auto;
}
@media screen and (max-width: 1870px) {
  .wrap {
    width: 1414px;
  }
}
@media screen and (max-width: 1654px) {
  .wrap {
    width: 1198px;
  }
}
@media screen and (max-width: 1438px) {
  .wrap {
    width: 999px;
  }
}
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
.high-light-pink {
  color: #fb7299;
}
.hover-background-gray:hover {
  background: #f4f4f4;
}
.flex-vertical-center {
  display: flex;
  align-items: center;
}
