@import './_variable.less';

.w-100{
  width: 100%;
}

.h-100{
  height: 100%;
}

.high-light-pink {
  color: @bilibili-pink;
}

.hover-background-gray:hover {
  background: @color-light-gray;
}

.hover-text-blue:hover {
  transition: color .2s linear;
  color: @bilibili-blue !important;
}

.flex-vertical-center {
  display: flex;
  align-items: center;
}