@import "normalize.css";
@import "bilifont.css";
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
.high-light-pink {
  color: #fb7299;
}
.hover-background-gray:hover {
  background: #f4f4f4;
}
.hover-text-blue:hover {
  transition: color 0.2s;
  color: #00a1d6 !important;
}
.flex-vertical-center {
  display: flex;
  align-items: center;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
li {
  text-decoration: none;
  list-style: none;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  user-select: none;
  /* 禁止用户鼠标在页面上选中文字/图片等 */
  -webkit-tap-highlight-color: transparent;
  /* webkit是苹果浏览器引擎，tap点击，highlight背景高亮，color颜色，颜色用数值调节 */
  background: #ffffff;
  color: #212121;
  font-size: 14px;
  line-height: normal;
  width: 100vw;
  height: 100vh;
}
pre {
  font-family: 'Cascadia Code', Consolas, 'Courier New', monospace;
}
a {
  color: inherit;
  text-decoration: none;
}
i,
img {
  vertical-align: bottom;
}
button {
  border: none;
}
.clear-fix::after {
  clear: both;
  content: '';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}
.clear-fix {
  zoom: 1;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.wrap {
  width: 1630px;
  margin: 0 auto;
}
@media screen and (max-width: 1870px) {
  .wrap {
    width: 1414px;
  }
}
@media screen and (max-width: 1654px) {
  .wrap {
    width: 1198px;
  }
}
@media screen and (max-width: 1438px) {
  .wrap {
    width: 999px;
  }
}
.bottom-shadow::before {
  content: '';
  position: absolute;
  top: auto;
  left: 0;
  bottom: 0;
  right: 0;
  height: 48px;
  background: repeat-x url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAwCAYAAAGnNCAXAAAABGdBTUEAALGPC/xhBQAAAENJREFUCB1jYGBgYGICEpIgQgqNBRRi4MMmARYDyXKAWLwgggfOAnMJiIH0soJ0sMEJdlQWWBYshpAAK0ZwwSzS1AEAes8Ckyqvlc0AAAAASUVORK5CYII=);
  border-radius: 2px;
  z-index: 1;
}
.block {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
